[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bisque"]
	path = bisque
	url = https://github.com/jmhewitt/bisque
[submodule "telefit"]
	path = telefit
	url = https://github.com/jmhewitt/telefit
